In [104]:
import pandas as pd
from keplergl import KeplerGl

In [105]:
df = pd.read_csv('earthquake_data.csv', skiprows=1)
df.head()

,Origin Time,Lat,Long,Depth,Magnitude,Location
0,2014-07-19 12:47:55 IST,36.847,70.845,105.0,5.3[Mb],"38km SE of Fayzabad, Afghanistan"
1,2014-07-20 05:37:00 IST,36.373,69.827,228.0,4.5[ML],"103km SW of Fayzabad, Afghanistan"
2,2014-07-20 07:12:51 IST,37.124,70.841,33.0,4.0[ML],"25km E of Fayzabad, Afghanistan"
3,2014-07-20 12:21:09 IST,23.197,94.602,33.0,4.0[ML],"133km ESE of Champhai, Mizoram, India"
4,2014-07-20 13:04:07 IST,36.257,70.610,75.0,3.7[ML],"93km S of Fayzabad, Afghanistan"

The data is already formatted in a proper way, I will add one more column which will tell the country to make a simpler label

In [106]:
df.dtypes

Origin Time     object
Lat            float64
Long           float64
Depth          float64
Magnitude       object
Location        object
dtype: object

In [107]:
df['mag'] = df['Magnitude'].str.extract(r'([\d.]+)').astype(float)
df['lat'] = df['Lat']
df['lon'] = df['Long']
df['depth'] = df['Depth']
df['time'] = pd.to_datetime(df['Origin Time'], format='%Y-%m-%d %H:%M:%S IST')
df['country'] = df['Location'].str.split(',').str[-1].str.strip()

In [108]:
config = {
    'version': 'v1',
    'config': {
        'mapState': {
            'latitude': 20.5937,
            'longitude': 78.9629,
            'zoom': 4.5
        }
    }
}

In [109]:
df = df.replace([float('inf'), float('-inf')], pd.NA)

df = df.dropna(subset=['lat', 'lon', 'mag', 'depth', 'time'])

df = df[
    (df['lat'] >= -90) & (df['lat'] <= 90) &      
    (df['lon'] >= -180) & (df['lon'] <= 180) &    
    (df['mag'] >= 0) & (df['mag'] <= 10) &        
    (df['depth'] >= 0) & (df['depth'] <= 1000)    
]

In [ ]:
map1 = KeplerGl(height=800, data={'earthquakes': df})
map1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'mapState': {'latitude': 22.5, 'longitude': 82.0, 'zoom': 3.8, 'p…

In [111]:
major_quakes = df[df['mag'] >= 5.0]
map2 = KeplerGl(height=800, data={'major_earthquakes': major_quakes})
map2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'mapState': {'latitude': 22.5, 'longitude': 82.0, 'zoom': 3.8, 'p…

In [ ]:
df['year'] = df['time'].dt.year
map3 = KeplerGl(height=800, data={'by_year': df})
map3

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'mapState': {'latitude': 22.5, 'longitude': 82.0, 'zoom': 3.8, 'p…

In [113]:
map1.save_to_html(file_name='static/maps/all_earthquakes.html')
map2.save_to_html(file_name='static/maps/major_earthquakes.html')
map3.save_to_html(file_name='static/maps/timeline.html')

Map saved to static/maps/all_earthquakes.html!
Map saved to static/maps/major_earthquakes.html!
Map saved to static/maps/timeline.html!
Map saved to static/maps/major_earthquakes.html!
Map saved to static/maps/timeline.html!